[Desktop Entry]
Name=QEMU PPC
Comment=PowerPC emulator
Exec=qemu-ppc
Terminal=true
Type=Application
Icon=qemu_logo_no_text
Categories=System;Emulator;
